---
layout: default
---

<div class="well">
    <h1>Tags</h1>
    <hr/>
{% assign sortedtags = site.tags | sort %}
{% for tag in sortedtags %}
    <h3>{{ tag[0] | capitalize }}</h3>
    <ul>
        {% assign pages_list = tag[1] %}
        {% for node in pages_list %}
            {% if node.title != null %}
            {% if group == null or group == node.group %}
                <li><span class="post-date">
                    {% assign date_format = site.date_format.tag %}
                    {{ node.date | date: "%Y.%m.%d" }} </span></span><a href="{{ site.baseurl}}{{ node.url }}"> {{ node.title }}</a></li>
            {% endif %}
            {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
    </ul>
{% endfor %}    
</div>
