<div class="sidebar well">
    <div class="text-center">
    	<img src="{{ site.baseurl }}/images/logo.png" height="200" style="margin: 0 auto;" class="img-circle"/>
        {{ site.description }}
    </div>
</div>

<div class="sidebar well">
    <h1>Recent Posts</h1>
    <ul>
        {% for post in site.posts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="sidebar well">
{% include links-list.html %}
</div>
