<!DOCTYPE html>
<html lang="cn">

{% include head.html %}

<body>
    {% include navbar.html %}
    <div class="wrap">
        <div class="container">
            <div class="row">

                <div class="col-sm-0">
                </div>

                <div class="col-sm-12">    
                    {{ content }}
                    <br><br>
                </div>

                <div class="col-sm-0">
                </div> 

            </div>
        </div>
        {% include footer.html %}
    </div>
</body>

</html>